.ant-row > div {
    background: transparent;
    border: 0;
  }
.gutter-box {
    background: white;
    /* padding: 5px 0; */
    line-height: 10px;
}

.reptile_monitor_row{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div > .title{
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 22px;
}

div > .quantity{
    color: rgba(0, 0, 0, 0.85);
    font-size: 30px;
    line-height: 38px;
}

.real{
    color: black;
}

.ant-card-body{
    padding-top: 12px;
    padding-bottom: 10px;
}

span > .picker{
    font-size: 14px;
    padding: 10px;
    line-height: 15px;
}

span.picker:hover{
    cursor: pointer;
    color: #1890ff;
}

span .click{
    color: #1890ff;
}